// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userIconShow{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 1px solid #ddd;
}
.UserimageAndName{
	display: flex;
	justify-content: space-between;
}
.profileEditAndAcount{
	margin-bottom: 5%;
}
.commentSubmit.followNow{
	background-color: #fff;
	color: rgba(29,161,242,1.00);;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	border-bottom-color: rgb(29, 161, 242);
    border-left-color: rgb(29, 161, 242);
    border-right-color: rgb(29, 161, 242);
    border-top-color: rgb(29, 161, 242);
}
.commentSubmit.followNow:hover{
	background-color: rgba(29, 161, 242, 0.1);
}

.followAtag{
	text-decoration: none;
}
.followAtag:hover{
	text-decoration: underline;
	text-decoration-color: black;
}
.followCountBox{
	display: flex;
}
.userCountFollowText{
	font-weight: bold;
}
.AtagBoxFollow{
	width: 100px;
	color: #000;
}
.followText{
	color: #808080;
}
.userCountFollowText{
	color: #000;
}
.profileButtonAndFollowBox{
	display: flex;
}
.commentSubmit.profileButton{
	margin-top: 70%;
}
.user_backround_image{
	width: 100%;
	height: 25%;
}
.user_background_image_box{
	border: 1px solid #ddd;
}